<!DOCTYPE html>
<html>
  <head>
    <title>編集</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'info_new', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>'

<body>
  <div class="title">
    個体情報編集
  </div>

    <%= form_with model: @info,  local: true do |f| %>

      <div class ="info-form-container">
            
              <div class="info-form-title">基本情報</div>
              <div class="info-row">
              
                <div class="textbox"> 
                  <div class="label-box">識別番号</div>
                    <div class="field">
                      <%= f.text_field :identifier, size: 20 %>
                    </div>
                </div>

                <div class="textbox"> 
                  <div class="label-box">捕獲者</div>
                  <div class="field">
                    <%= f.text_field :hunter, size: 20%>
                  </div>
                </div>

              </div>

              <div class="info-row">
                <div class="textbox"> 
                  <div class="label-box">捕獲日</div>
                  <div class="field">
                    <%= f.date_field :hunted_date%> 
                  </div>
                </div>

                <div class="textbox"> 
                  <div class="label-box">捕獲地</div>
                  <div class="field">
                    <%= f.text_field :location, size: 20 %>
                  </div>
                </div>

              </div>
 
            <div class="info-form-title">動物情報</div>
            <div class="info-row">
              <div class="textbox"> 
                <div class="label-box">捕獲方法</div>
                <div class="field">
                  <%= f.select :method, 
                    [["銃", "銃"], 
                    ["わな", "わな"],
                    ["釣り", "釣り"],
                    ["その他", "other"]],
                    { include_blank: "選択してください" },
                    id: "method_select"
                  %>

                </div>
              </div>

              <div class="textbox"> 
                <div class="label-box">種類</div>
                <div class="field">
                <!--@info.speciesがnillでなければspeciesを表示-->
                  <%= f.select :species, 
                    [],
                    { include_blank: "選択してください" },
                    id: "species_select"
                  %>
                </div>
              </div>
            </div>

            <div class="info-row">
              <div class="textbox">
                <div class="label-box">推定月齢</div>
                <div class="field">
                  <%= f.text_field :ages,
                  placeholder: "数値を入力", 
                  size: 20
                  %>
                </div>
              </div>

              <div class="textbox"> 
                <div class="label-box">体重 kg</div>
                <div class="field">

                  <%= f.text_field :weight,
                  placeholder: "数値を入力", 
                  size: 20
                  %>

                </div>
              </div>
            </div>

            <div class="info-form-title">解体・加工情報</div>
            <div class="info-row">
              <div class="textbox">
                <div class="label-box">解体日</div>
                <div class="field">
                  <%= f.date_field :butchering_date %>  
                </div>
              </div>

              <div class="textbox"> 
                <div class="label-box">解体施設</div>
                <div class="field">
                  <%= f.text_field :processed_location, size: 20 %> 
                </div>
              </div>
            </div>

            <div class="info-row">
              <div class="textbox"> 
                <div class="label-box">加工日</div>
                <div class="field">
                  <%= f.date_field :processed_date %> 
                </div>
              </div>

              <div class="textbox"> 
                <div class="label-box">加工者</div>
                <div class="field">
                  <%= f.text_field :processed_by, size: 20 %> 
                </div>
              </div>
            </div> 
      
          
       
            <div class="button-container">
              <div class="submit-button">
                <%= f.submit "変更", class:"btn btn-green" %>
              </div>
            
           
    <% end %>

              <div class = "delete-button">
                <%= button_to "削除", info_path(@info.id), method: :delete, 
                data: { confirm: "本当に削除しますか？" }, class:"btn btn-red" %>
              </div>
            </div>
            


</body>



<script>
document.addEventListener("DOMContentLoaded", function () {
  const methodSelect = document.getElementById("method_select");
  const speciesSelect = document.getElementById("species_select");


    // 魚の種類のリスト
  const fishSpecies = [
    ["鮭", "鮭"],
    ["鮭(イクラ)", "鮭(イクラ)"],
    ["サクラマス", "サクラマス"],
    ["鮎", "鮎"],
    ["ヒラメ", "ヒラメ"],
    ["ブリ", "ブリ"],
    ["マグロ", "マグロ"]
  ];

  // 動物の種類のリスト
  const animalSpecies = [
    ["エゾシカ", "エゾシカ"],
    ["ヒグマ", "ヒグマ"],
    ["マガモ", "マガモ"],
    ["カルガモ", "カルガモ"]
  ];


  // method_select が存在するか確認
  if (methodSelect) {
      methodSelect.addEventListener("change", function () {
      console.log("選択された捕獲方法: " + methodSelect.value);
    });
  } else {
    console.error("method_select が見つかりません");
  }


  if(speciesSelect){
      speciesSelect.addEventListener("change", function () {
      console.log("選択された獲物: " + speciesSelect.value);
    });
  } else {
    console.error("method_select が見つかりません");
  }

  // method_select が変更されたときの処理
  methodSelect.addEventListener("change", function () {
    // 「釣り」だった場合
    if (methodSelect.value === "釣り") {
      updateSpeciesOptions(fishSpecies);
    } else {
      // それ以外の場合（動物）
      updateSpeciesOptions(animalSpecies);
    }
  });

  //method_selectが既に選択されている場合の処理
  if (methodSelect.value === "釣り") {
    updateSpeciesOptions(fishSpecies);
  } 
  //わなor銃の場合はanimalSpecies
  else if (methodSelect.value === "わな" || methodSelect.value === "銃") {
    updateSpeciesOptions(animalSpecies);
  } else {
      // 未選択なら何もしない
  }

  // species_select の選択肢を更新する関数
  function updateSpeciesOptions(speciesArray) {
    // species_select の選択肢をクリア
    speciesSelect.innerHTML = '';

    // 新しい選択肢を追加 
    speciesArray.forEach(function (species) {
      const option = document.createElement('option');
      option.value = species[1];
      option.text = species[0];
      speciesSelect.appendChild(option);
    });

    //@info.speciesを選択した状態にする
    speciesSelect.value = "<%= @info.species %>";
  }

});

</script>
