<!DOCTYPE html>
<html>
  <head>
    <title>新規</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

<body>
  <div class="header">
    <h3>捕獲情報一覧</h3>
  </div>

  <div class="search-container">

    <!-- 検索ボックス　上段 -->
    <div class="search-box">
      <%= form_tag({controller: "infos", action: "index"}, {method: "get"}) do %>
        <%= text_field_tag :search, params[:search], placeholder: "キーワード検索...", class: "search-input"%>
        <!--%= submit_tag "検索" %-->
      <% end %>
    </div>

    <!-- 並び替えフォーム　下段 -->
    <div class="other-search-box">

      <div class="date-search">
        <%= form_tag({controller: "infos", action: "index"}, {method: "get"}) do %>
          <%= date_field_tag :start_date, params[:start_date], onchange: "this.form.submit()" %>
          <%= date_field_tag :end_date, params[:end_date], onchange: "this.form.submit()" %>
          <!--%= submit_tag "日付検索" %-->
        <% end %>
      </div>
      
      <div class="sort">
        <%= form_tag({controller: "infos", action: "index"}, {method: "get"}) do %>
          
          <!--日付検索用の値を保持 -->
          <%= hidden_field_tag :start_date, params[:start_date] %>
          <%= hidden_field_tag :end_date, params[:end_date] %>

          <%= select_tag :sort, options_for_select(
            [
              ["", ""],
              ["捕獲日の古い順", "hunt_asc"],
              ["捕獲日の新しい順", "hunt_desc"],
              ["加工日の古い順", "processed_asc"], 
              ["加工日の新しい順", "processed_desc"],
              ["識別番号の昇順", "id_asc"],
              ["識別番号の降順", "id_desc"]
            ],
            params[:sort]
          ) , 
          {
            class: "sort-select",
            onchange: "this.form.submit()"
          }%>

          <!--%= submit_tag "並び替え" -->
        <% end %>
      </div>
    </div>
    
  </div>

  <!--div class="detail-search-container">
    <div class="date-serach- container">
      <%= form_tag({controller: "infos", action: "index"}, {method: "get"}) do %>
        <%= date_field_tag :start_date, params[:start_date] %>
        <%= date_field_tag :end_date, params[:end_date] %>
        <%= submit_tag "日付検索" %>
      <% end %>
    </div>
  </div-->

  <%# infos-cintainerをクリックしてinfoの詳細ページに遷移 %>

  <div class="infos-container" >
    <% @infos.each do |info| %>
      <div class="info" onclick="location.href='<%= info_path(info.id) %>'" 
      style = "cursor:pointer;">
        <div class="info-grid">
          <p class="info-line" style="font-size: 1em;">
            <span class="material-symbols-outlined material-icon-lg" style="font-size: 1em;">
            tag
            </span><%= info.identifier %>
          </p>

          <p class="info-line" style="font-size: 1em;">
            <span class="material-symbols-outlined" style="font-size: 1em;">
            person
            </span><%= info.hunter %>
          </p>

          <p class="info-line" style="font-size: 1em;">
            <span class="material-symbols-outlined" style="font-size: 1em;">
            pets
            </span> <%= info.species %>
          </p>

          <p class="info-line" style="font-size: 1em;">
            <span class="material-symbols-outlined" style="font-size: 1em;">
            calendar_today
            </span> <%= info.Hunteddate %>
        </div>
        <%#= link_to "詳細へ", info_path(info.id) %>
      </div>
    <% end %>
  </div>


  <div class="newpost-container">
    <%= link_to infos_new_path, class: "newpost-btn" do %>
    +
    <% end %>
  </div>

  <%# ページネーション %>
  <div class="pagination-container">
    <%= paginate @infos %>
  </div>

</body>