<!DOCTYPE html>
<!--aplication.html.erbを読み込まない-->

<html>
  <head>
    <title>個体詳細</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'info_show', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

<div class="title">
  <h1>個体詳細</h1>
</div>

<div class="info-container">
  <%# qrコードをクリックして新しいタブで開く %>


  <div class="each-info">
    <div class="info-title">基本情報</div>
    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">識別番号</div>
        <%= @info.identifier %>
      </div>

      <div class="textbox"> 
        <div class="label-box">捕獲者</div> 
        <%= @info.hunter %>
      </div>

    </div>

    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">捕獲日</div>
        <%= @info.Hunteddate %>
      </div>

      <div class="textbox"> 
        <div class="label-box">捕獲地</div>
        <%= @info.location %>
      </div>

    </div>
      <%# #Google Maps APIを使って地図を表示する %>
      <%# <div id="map"></div> %>
  </div>

  <div class="each-info">
    <div class="info-title">個体情報</div>
    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">捕獲方法</div>
        <%= @info.method %>
      </div>

      <div class="textbox"> 
        <div class="label-box">種類</div> 
        <%= @info.species %>
      </div>

    </div>

    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">推定月齢</div>
        <%= @info.ages %> 
      </div>

      <div class="textbox"> 
        <div class="label-box">体重</div>
        <%= @info.weight %> kg
      </div>

    </div>
  </div>

  <div class="each-info">
    <div class="info-title">解体・加工情報</div>
    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">解体日</div>
        <%= @info.butchering_date %>
      </div>

      <div class="textbox"> 
        <div class="label-box">加工施設</div>
        <%= @info.processed_location %>
      </div>

    </div>
    <div class="info-row">

      <div class="textbox"> 
        <div class="label-box">加工日</div>
        <%= @info.processed_date %>
      </div>

      <div class="textbox"> 
        <div class="label-box">加工者</div>
        <%= @info.processed_by %>
      </div>

    </div>

  </div>

</div>

</body>

