<!DOCTYPE html>
<html>
  <head>
    <title>ManagingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %-->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <meta http-equiv="content-language" content="ja">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <h1 class=title_link><%= link_to "HOME", root_path %></h1>
      
      <div class="header-list">
        <ul>
          <!--div class=new_link><%= link_to "新規登録", infos_new_path %></div-->
        </ul>
        <ul>
          <div class=logout>
            <% if user_signed_in? %>
              <!--%= button_to "ログアウト", destroy_user_session_path, method: :delete%-->
            <% else %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
        </ul>
        <ul>
          <% if user_signed_in? %>
            <div class=mypage>
              <%= link_to "マイページ",
                user_path(current_user.id),
                method: :get
               %>
            </div>
          <% end %>
        </ul>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <%= javascript_importmap_tags %>
  </body>
</html>
