<!DOCTYPE html>
<html>
  <head>
    <title>ManagingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <meta http-equiv="content-language" content="ja">
  </head>

  <body>
    <header>
      <div class=title_link>
        <%= link_to "管理アプリ（仮）", root_path %>
      </div>
      <div class="header-list">
        <ul>
          <div class=new_link><%= link_to "新規登録", infos_new_path %></ldiv>
        </ul>
        <ul>
          <%# カメラを起動する %>
        </ul>
        
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
